
<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Magic: The Gathering</a>
    </div>
    <ul class="nav navbar-nav">
       {{#if userName}}
      <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/users/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/users/profile/{{userId}}">Hello, {{userName}}</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link text-white" href="/users/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/users/login">Log In</a>
      </li>
      {{/if}}
    </ul>
    {{!-- {{#if userId}} --}}
    <a id="cart" class="btn btn-danger nav-link text-white" type="button" href="/cart">Cart</a>
    {{!-- {{/if}} --}}
  </div>
</nav>
