<div>Header</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MTG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if userName}}
          <li class="pipe-separate t-light-blue left"><a href="/">home</a></li>
          <li><a href="/users/logout">logout</a></li>
          <li><a href="/users/profile/{{userId}}">{{userName}}</a></li>
          {{else}}
          <li class="pipe-separate t-light-blue left"><a href="/">home</a></li>
          <li class="pipe-separate t-light-blue left"><a href="/users/login">login</a></li>
          <li class="pipe-separate t-light-blue left"><a href="/users/signup">sign up</a></li>
          {{/if}}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
