<form class="container font-roboto mt-5" name="formBlock">
  <h1 class="head">Добавление новой карты</h1>
  <div class="container mt-2 data">
    <div class="data1">
      <div>
        <label for="formGroupExampleInput" class="form-label">Название</label>
        <input name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="">
      </div>
      <div>
        <label class="mb-2">Состояние</label>
        <select class="form-select" name="condition" aria-label="CONDITION">
          <option value="1">Идеально</option>
          <option value="2">хорошее</option>
          <option value="3">Среднее</option>
          <option value="4">Убитое</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Цена</span>
        <input name="price" type="text" class="form-control" placeholder="$ 0.00" aria-label="Dollar amount (with dot and two decimal places)">
      </div>
    </div>
    <div class="yourCard mt-4">
      <img src="https://avatars.mds.yandex.net/i?id=49e88141ab4ef68cdc4e90d4fb4026a1-4482255-images-thumbs&n=13"
        alt="your card" style="width:auto; height: 200px;">
      <input class="mt-2" name="image" id="href" type="text" placeholder="ссылка на фото" style="width:200px">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">
    Добавить карту
  </button>
</form>
