<form class="block" name="formBlock" action="/new" method="post">
  <h1 class="head">Add a new card</h1>
  <div class="data">
    <div class="data1">
      <h2>enter your card details</h2>
      <div>
        <label>CONDITION</label>
        <select class="form-select" style="background-color: transparent; border-style: ridge;" required name="condition_id" aria-label="CONDITION">
          <option value='1'>perfect</option>
          <option value='2'>good</option>
          <option value='3'>average</option>
          <option value='3'>killed</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" style="background-color: transparent; border-style: ridge; ">PRICE</span>
        <input name="price" style="background-color: transparent; border-style: ridge; " type="text" class="form-control" placeholder="$ 0.00" required aria-label="Dollar amount (with dot and two decimal places)">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">TITLE</label>
        <input name="title" style="background-color: transparent; border-style: ridge; " type="text" class="form-control" id="formGroupExampleInput" required placeholder="Enter the name of your card">
      </div>
    </div>
    <div class="yourCard">
      <h2>Add a map image</h2>
      <img style="width: 300px; border-style: groove; " src="https://cdn.pixabay.com/photo/2017/02/13/01/26/the-question-mark-2061539_1280.png"
        alt="your card">
      <input name="image" id="href" type="text" required placeholder="the field for the link to the image of your card">
    </div>
  </div>
  <div class="button">
    <button class="add" type="submit">
    ADD NEW CARD
  </button>
  </div>
  
</form>
