<html>

  <head>

    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <script defer src="/js/application.js"></script>
    <title>MTG</title>
  </head>

  <body>
    {{{body}}}
  </body>
</html>
