{{!-- <h1>Welcome!</h1> --}}
<h1>{{message}}</h1>
<h2>{{message1}}</h2>
<h2>{{message2}}</h2>
<h2>{{message3}}</h2>


<form method="post" action="/users/signup">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputName1" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputCity1" class="form-label">City</label>
    <input name="city" type="text" class="form-control" id="exampleCity1" aria-describedby="nameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
