{{!-- <h2>{{message}}</h2> --}}
<h1>Welcome</h1>
<form method="post" action="/users/signin">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control block w-150 no-outline no-border pad-1 mar-b-2" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control block w-150 no-outline no-border pad-1 mar-b-2" id="inputPassword3">
    </div>
  </div>
  <button type="submit" class="btn btn-primary w-150 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Sign in</button>
</form>
