.block {
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-around;
}
.data {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.add {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.yourCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data1 {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#href {
  height: 21px;
  width: 278px;
}
